<div class="columns is-mobile is-align-items-center m-0 p-1 row-custom-field is-multiline">
	<div class="column is-resizable is-4-desktop is-12-tablet is-12-mobile p-0 label-cf pr-3">
		{{ name }}
	</div>
	<div class="column is-resizable is-8-desktop is-12-tablet is-12-mobile p-0 ">
		{% include("/inputs/#{type}.twig") %}
	</div>
</div>
