<button data-id="{{id}}" class="button is-primary is-outlined {{class}}">
{% if text %}<span>{{text}}</span>{% endif %}
	<span class="icon  is-align-self-center">
		<i class="mdi mdi-24px mdi-clipboard-list-outline"></i>
	</span>
</button>
