<div class="field">
	<p class="control has-icons-right">
		<input data-id="{{id}}" class="input input-email my-1 {{class}}" type="email" placeholder="Email" value="{{value}}">
		<span class="icon is-small is-right my-1">
			<i class="mdi mdi-email mdi-24px"></i>
		</span>
	</p>
</div>
