<div class="field is-small">
	<p class="control has-icons-right">
		<input data-id="{{id}}" class="input input-number my-1 {{class}}" type="text" value="{{value}}">
		<span class="icon is-small is-right my-1">
			<i class="mdi mdi-numeric mdi-24px"></i>
		</span>
	</p>
</div>
