<div class="field">
	<p class="control has-icons-right">
		<input data-id="{{id}}" class="input input-phone my-1 {{class}}" type="text" value="{{value}}">
		<span class="icon is-right my-1">
			<i class="mdi mdi-phone mdi-24px"></i>
		</span>
	</p>
</div>
