<div class="field has-addons">
	<div class="control is-fullwidth">
		<input data-id="{{id}}" class="input input-search {{class}}" type="text" value="{{value}}">
	</div>
	<div class="control">
		<button class="button button-input-search is-info">
			<span class="icon is-small is-right my-1">
				<i class="mdi mdi-magnify mdi-24px"></i>
			</span>
		</button>
	</div>
</div>
