<div id="add-status-block" class="columns has-text-black p-2 m-2 is-one-fifth">
	<div class="column is-9 is-offset-1 p-1"><span id="add-button" class="button is-fullwidth m-0 p-0 is-success is-light">Добавить новый статус</span></div>
</div>