<div id="add-lead" class="button is-vlarge has-text-black is-align-items-center is-success is-outlined is-light is-justify-content-center p-1 m-1 is-fullwidth">
	<div class="is-size-5">Добавить</div>
</div>