<article id="users_panel" class="panel is-dark">
	<p class="is-flex is-flex-direction-row is-align-items-center is-justify-content-space-between panel-heading">
		<label>Управление профилем</label>

	</p>
	<div id="settings-users-items">
		{% include("self-edit-user.twig") %}
	</div>
</article>
