<div class="is-flex  m-1">
	<label data-id="{{user.id}}" class="is-flex-grow-1 users-settings-label panel-block is-active">
		{{user.name}}

	</label>
	<button data-id="{{user.id}}" class="button delete-user-button m-1">
		<span class="icon has-text-danger is-align-self-center">
			<i class="mdi mdi-24px mdi-delete"></i>
		</span>
	</button>
</div>
